.banner {
  background: var(--cor-fundo4);
  color: var(--cor-font2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 20px;
  padding: 32px 24px;
}

.banner__titulo {
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
}

.banner__texto {
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  margin: 0 34px;
}

.banner__containerPesquisa {
  display: flex;
  flex-direction: column;
  position: relative;
}

.banner__iconePesquisa {
  position: absolute;
  left: 15px;
  top: 30%;
}

.banner__inputPesquisa {
  text-align: center;
  background-color: transparent;
  font-family: var(--font1);
  color: var(--cor-font2);
  padding: 10px 40px;
  border: 1px solid #fff;
  border-radius: 24px;
  font-size: 14px;
}

.banner__inputPesquisa::placeholder {
  font-family: var(--font1);
  color: var(--cor-font2);
}


@media (width >= 1024px) {
  .banner {
    gap: 2px;
    padding: 90px 150px;
    align-items: center;
  }

  .banner__titulo {
    font-size: 36px;
  }

  .banner__inputPesquisa {
    width: 476px;
    font-size: 16px;
    margin-top: 25px;
  }

  .banner__iconePesquisa {
    top: 55%;
  }

}



