.contato {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 24px;
}

.contato__titulo {
  color: var(--cor-font1);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.contato__subTitulo {
  color: var(--cor-font1);
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.contato__email{
    background-color: transparent;
    color: var(--cor-font1);
    font-family: var(--font1);
    display: flex;
    justify-content: center;
    padding: 10px 24px;
    border: 1px solid var(--cor-font1);
    border-radius: 24px;
    font-size: 14px;
    text-align: center;
}

.contato__email::placeholder{
    font-family: var(--font1);
    color: var(--cor-font1);
    background-image: url(../img/Email.svg);
    background-repeat: no-repeat;
    background-position-y: center;
}