#cabecalho {
  background-color: var(--cor-font2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 24px;
}

.menu1,
.menu2,
.menu3 {
  display: flex;
  align-items: center;
}

.menu1 {
  gap: 24px;
}
.menu3 {
  gap: 24px;
}

#menu1__imagemMenu {
  cursor: pointer;
}

.menu1__titulo {
  display: none;
  color: #000;
  font-family: var(--font2);
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.menu1__titulo--negrito {
  font-weight: 700;
}

.menu2 {
  display: none;
}

.menu2__item {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 1rem;
}

.menu-lista-container {
  background: aquamarine;
}

#menu-lista,
#menu-lista2 {
  background-color: var(--cor-font2);
  box-shadow: 0px 15px 15px 0px rgba(0, 0, 0, 0.25);
  display: block;
  position: absolute;
  top: 76px;
  left: 0;
  width: 300px;
  height: 0;
  z-index: 10000;
  overflow-y: hidden;
  transition: 1s;
}

#menu-lista.active {
  height: 288px;
  overflow-y: auto;
}

#menu-lista li,
#menu-lista2 li {
  padding: 16px 24px;
  text-transform: uppercase;
  color: var(--cor-font1);
  cursor: pointer;
}

#menu-lista li.menu-listaItem--lowercase,
#menu-lista2 li.menu-listaItem--lowercase {
  text-transform: capitalize;
  color: var(--cor-fundo3);
  font-weight: 700;
  cursor: auto;
}

#menu-lista li.menu-listaItem--lowercase:hover,
#menu-lista2 li.menu-listaItem--lowercase:hover {
  background: #fff;
  color: var(--cor-fundo3);
}

#menu-lista li:hover,
#menu-lista2 li:hover,
.menu2__item:hover {
  background: var(--cor-fundo4);
  color: var(--cor-fundo2);
}

@media screen and (width >= 1024px) {
  #cabecalho {
    padding: 18px 80px;
  }
  .menu1__titulo {
    display: block;
  }
  #menu1__imagemMenu {
    display: none;
  }

  .menu1 {
    gap: 10px;
    align-items: end;
  }
  .menu2 {
    display: flex;
    gap: 42px;
  }

  #menu-lista2 {
    left: auto;
    position: absolute;
  }

  #menu2__itemCategoria:hover + #menu-lista2,
  #menu-lista2:hover {
    height: 288px;
    overflow-y: auto;
  }

  .menu3 {
    gap: 60px;
  }
  .menu3__imagem--display {
    display: none;
  }
}
